.NavList {
  border-bottom: solid 1px var(--adm-color-border);

  .adm-tabs-header {
    border-bottom: 0;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    height: auto;
    width: 80px;
    padding: 0 10px;
  }
}
